.miCarrusel {
  width: 85%;
  height: 350px; /* Ajusta según tu diseño */
  border-radius: 15px; /* Si quieres bordes redondeados */
  margin-top: 120px;
  margin-bottom: 0px;
    /* Centrado automático */
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene la proporción sin deformar */
}

/* Adaptación para móviles (pantallas menores a 640px) */
@media (max-width: 640px) {
  .miCarrusel {
    width: 95%; /* Ocupa casi todo el ancho disponible */
    height: 150px; /* Reducimos la altura para que no ocupe toda la pantalla */
    margin-top: 130px; /* Ajustamos el espacio superior */
    
  }

  /* Ocultar botones de navegación si son muy grandes, o hacerlos más pequeños */
  .swiper-button-next,
  .swiper-button-prev {
    display: none; /* Mejor experiencia táctil usando swipe */
  }

  /* Ajustar la paginación para que no estorbe */
  .swiper-pagination {
    bottom: 5px !important;
  }
}