

/* Contenedor principal con perspectiva */
.swiper-categorias {
    width: 100%;
    height: 200px; /* Importante para que no se vea lo que sobra */
	margin-top: 20px;   /* Empuja el carrusel hacia abajo */
    margin-bottom: 50px; /* Separa de los productos */
    min-height: 200px;  /* Altura mínima para que el 3D no se aplaste */
    padding: 20px 0;    /* Espacio interno para que no corte las tarjetas */
    z-index: 10;
}

.swiper-categorias .swiper-slide {
    color: white;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    background: rgb(100, 172, 255);
    padding: 10px;         /* Espacio interno para que no toque los bordes */
    box-sizing: border-box;
	/* Espacio para que la imagen no toque los bordes */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
	width: 220px !important;
    height: 160px !important; /* Aumentamos un poco la altura para que quepa la imagen más grande */
    padding: 20px !important;
}
/* Clase que aplicaremos al hacer clic */
.swiper-categorias .swiper-slide.active-category {
    background-color: #003f83 !important; /* El color que quieras para la activa */
    border-color: #ffffff;               /* Opcional: un borde blanco */
    transform: scale(2);               /* Un ligero efecto de zoom */
}
/* Mejora el texto y el icono */
.swiper-categorias .category-name {
       /* Un poco más pequeño para que quepa bien */
    line-height: 1.1;
    white-space: nowrap;   /* Evita que el texto salte de línea */
    overflow: hidden;
    text-overflow: ellipsis; /* Si es muy largo, pone "..." */
    max-width: 90%;
	font-size: 0.9rem; /* Un poquito más grande */
    text-transform: uppercase;
}

.swiper-categorias .card-icon-image {
    font-size: 2rem;       /* Reduce el tamaño del icono (ajusta según prefieras: 1.5rem, 2rem) */
    width: 50px;           /* Tamaño fijo para el contenedor del icono */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;      /* Evita que el contenido se desborde */
    margin-bottom: 5px;    /* Espacio entre icono y texto */
}

/* Asegura que cualquier imagen o icono dentro se adapte */
.swiper-categorias .card-icon-image img {
    max-width: 100%;       /* Nunca será más grande que su contenedor de 50px */
    max-height: 100%;
    object-fit: contain;   /* Mantiene la proporción sin estirarse */
}

.swiper-categorias .category-img {
    width: 80px;           /* Aumentamos de 50px a 80px */
    height: 80px;          /* Aumentamos de 50px a 80px */
    object-fit: contain;   
    margin-bottom: 15px;   /* Un poco más de aire */
} 